<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Success</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<center>
    <div class=".container p-3 bg-dark text-warning">
        <h1>Password set</h1>
    </div>
<br><br>
    <br><p>Your password has been set. you can <a href='{% url "login" %}'>login now</a></p>
</center>

</body>
</html>