{% load crispy_forms_tags %}
{% load static %}
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<style>
		body{
		text-align: center;
		overflow-x: hidden;
		}
		img {
			cursor: pointer;
		}

<!--		#id_bio {-->
<!--    		width: 300px;-->
<!--    		height: 200px;-->
<!--		}-->

		#id_profile_pic{

		}

	</style>
	{% if title %}
		<title>{{ title }}</title>
	{% else %}
		<title>'Profile'</title>
	{% endif %}
</head>
<body>

{% include 'navbar.html' %}

<center>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
        <br>{{ form.profile_pic }}<br><br>

		 {% comment %}
<!--      <div class="form-group col-md-3">-->
<!--        <br>{{ form.bio|as_crispy_field }}<br>-->
<!--      </div>-->
		 {% endcomment %}
    <button type="submit" class="btn btn-info btn-sm" style="opacity: 80%; width:120px;">Upload</button>
</form>
</center>

<footer class="bg-secondary text-center text-lg-start">

        <h5 class="text-uppercase text-white">Pictures Uploaded So far...</h5>

          {% for img in images %}
			<img src="{{ img.profile_pic.url }}" width="60" height="70">
		  {% endfor %}
</footer>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>