{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    
    <style>
    body{
		text-align: center;
		overflow-x: hidden;
	}
    </style>

	{% if title %}
        <title> {{ title }}</title>
    {% else %}
        <title>Title</title>
    {% endif %}

</head>

<body>

{% include 'navbar.html' %}

<center>
{% if messages %}
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible text-center" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Error{% else %}{{ message.tags|title }}{% endif %}!</strong> {{ message }}
      </div>
      {% endfor %}
{% endif %}

<br>
{% if request.user.is_superuser %}

<div class="card" style="width: 30rem;">
  <div class="card-body">
    <h3 class="card-title text-muted"><u>Tasks</u></h3><br>
    
    <form method="post" action="">
      {% csrf_token %}
      <label>Task name: </label>
      <input type='text' required>
      <input type="submit" value="ADD" class="btn btn-info btn-sm">
    </form>
    
    <hr />
    {% comment %}
      Looping through tasks
    {% endcomment %} 
    {% for task in tasks %}
      <p class="card-text">{{ task }}</p>
      <a href="#" class="card-link btn btn-warning btn-sm" style="width:60px;">Edit</a>
      <a href="#" class="card-link btn btn-danger btn-sm" style="width:60px;">Delete</a>
      <hr />
    {% endfor %}
  </div>
</div>
{% endif %}

</center>


</body>
</html>
