<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% if title %}
        <title> {{ title }}</title>
    {% else %}
        <title>Title</title>
    {% endif %}
</head>
<body onload="load()">

<center>

<div class=".container p-3 bg-dark text-white">
    {% if heading %}
        <h1>{{ heading }}</h1>
    {% else %}
        <h1>Heading</h1>
    {% endif %}
		<div style="height:25px;border-width:0;color:white;background-color:#4C636B;">
			Test Your Knowledge.
		</div>
</div>
      

<!--  Question / Radio -->
	{% for q in page_obj %}
        <div class="border border-dark card" style="width: 60rem;">
            <div class="card-header">
                Question{{ q.question_number }}.  {{ q.question|linebreaks }}
            </div>
        </div>
        <ul class="p-1 bg-secondary list-group list-group-flush">
		    <li class="list-group-item">
                <input type = "radio" name = "option" value = "a" id = "q1a">
                a. {{ q.option1 }}
            </li>
            <li class="list-group-item">
                <input type = "radio" name = "option" value = "b" id = "q1b">
                b. {{ q.option2 }}
            </li>
            <li class="list-group-item">
                <input type = "radio" name = "option" value = "c" id = "q1c">
                c. {{ q.option3 }}
            </li>
            <li class="list-group-item">
            <input type = "radio" name = "option" value = "d" id = "q1d">
                d. {{ q.option4 }}
            </li>
        </ul>
	{% endfor %}

	
	<!-- Submit -->
	<br><!-- 
	    <input style="margin-left:75px; width:200px;" type="submit"
	           class="btn btn-danger btn-lg" value="Submit" onclick="colnames()"><br> -->

	<!-- Output/Solution -->
	<b style="color:green; margin-left:75px;" id="selectedval"></b>

	<!-- Next Button -->
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_next %}
                <a style="margin-left:575px; width:200px;" href="?page={{ page_obj.next_page_number }}"
                   class="btn btn-danger btn-lg" onclick="submitBtn()">Submit</a>
            {% else %}
                <a style="margin-left:575px; width:200px;" href="{% url 'start' %}"
                   class="btn btn-danger btn-lg" onclick="submitBtn()">Submit</a>
			
			{% endif %}&nbsp;&nbsp;&nbsp;&nbsp;

        </span>
    </div>



<!--    Function call on click submit   -->
    <script type="text/javascript">
		
		function submitBtn(){
			display=document.querySelector('input[name=option]:checked').value;

			{% for i in page_obj %}
				var result = '{{ i.answer }}';
			{% endfor %}

			if (result == display){		
				alert("Your Answer is correct")
			}
			else{
				alert("Your Answer is wrong, Correct Option is " + result)
				}
		}
		
    </script>


<!-- Final Button and Note -->
    {% if not page_obj.has_next %}
		<div style="height:25px;border-width:0;color:white;background-color:grey;">
			Note:- Submit Your Answer Before Finishing The Test, Otherwise this question will be submitted as not done.
		</div><br />
		<input style="margin-left:80px; width:200px;" type="submit"
           class="btn btn-lg btn-info" value="Finish" onclick="a()"><br>
		<div id="score"></div>

    {% endif %}


</center>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>