<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    
    <style>
    body{
		text-align: center;
		overflow-x: hidden;
	}
    
    .dark:hover {
      background-color: #4CAF50;
      color: black;
      text-decoration: none;
    }
    </style>

	{% if title %}
        <title> {{ title }}</title>
    {% else %}
        <title>Title</title>
    {% endif %}

</head>

<body>

{% include 'navbar.html' %}

<center>
{% if messages %}
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible text-center" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Error{% else %}{{ message.tags|title }}{% endif %}!</strong> {{ message }}
      </div>
      {% endfor %}
{% endif %}

<br><br>

{% if user.is_authenticated %}
    <div class="dropdown">
        <button class="btn btn-dark text-white btn-lg" onclick="myEmail()" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> My Email</button><br>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <div class="dropdown-item"></div>
            <h6 id="display_email" class=""></h6>
        </div>
    </div>
{% endif %}
</center>


<script>
  function myEmail(){
    var email = '{{ user.email }}'
    if(email==""){
      alert("For Your Security {{ user.username }} We Don't Save Emails From External Applications.")
    }
    else{
        document.getElementById("display_email").innerHTML = email;
    }
  }
</script>


</body>
</html>
