{% load crispy_forms_tags %}
{% load socialaccount %}
{% providers_media_js %}
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% if title %}
        <title> {{ title }}</title>
    {% else %}
        <title>Title</title>
    {% endif %}
<style>
    .errorlist
    {
        color: #ed3b59;
        margin-left:270px;
        margin-right:250px;
    }
</style>
</head>
<body>
{% include 'navbar.html' %}
<center>

{% if messages %}
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible text-center" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Error{% else %}{{ message.tags|title }}{% endif %}!</strong> {{ message }}
      </div>
      {% endfor %}
{% endif %}

<br>
    <small>Need Account? <a href="{% url 'signup' %}"> Register</a>&nbsp;&nbsp;|&nbsp;</small>
    <small>Forgot password?<a href="{% url 'reset_password' %}" class="vertical_line"> Reset password</a></small>

   <form method="post">
       {% csrf_token %}
        <div class="form-col">
          <div class="form-group col-md-3 mb-0">
            <br>{{ form.username|as_crispy_field }}<br>
          </div>
          <div class="form-group col-md-3 mb-0">
            <br>{{ form.password|as_crispy_field }}<br>
          </div>
        </div>
        <button type="submit" class="btn btn-info btn-sm" style="opacity: 80%; width:120px;">Login</button>

        <p>{{ form.non_field_errors }}</p>
    </form>

    <h4 style="opacity:40%">or</h4>

    {% comment %} login with google {% endcomment %}
    <a class="btn text-dark bg-white border-info" href="{% provider_login_url 'google' %}">
        <img width="20px" style="margin-top:-2px;" alt="Google sign-in"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
        <small> Login with Google</small>
    </a>

</center>

</body>
</html>