{% load static %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
	<img src="{% static 'images/logo2.jpg' %}" width="40px" height="40px" style="border-radius:50%;">
	&nbsp;&nbsp;&nbsp;
	<div class="navbar-brand">
		<h1>
			{% if heading %}
				{{ heading }}
			{% else %}
				Welcome
			{% endif %}
		</h1>
	</div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
		<li class="nav-item">
			<a class="nav-link" href="{% url 'index' %}">Home</a>
		</li>
	  {% if user.is_authenticated %}
		<li class="nav-item">
			<a class="nav-link" href="{% url 'intermediate' %}"  target='_blank'>Quiz-1</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{% url 'advanced' %}"  target='_blank'>Quiz-2</a>
		</li>
	  	<li class="nav-item">
			<a class="nav-link" href="{% url 'logout' %}">Logout ( {{user}} )</a>
		</li>
	  {% else %}
	  <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'signup' %}">Register</a>
      </li>
	  <li class="nav-item">
        <a class="nav-link" href="{% url 'start' %}" target='_blank'>Sample-Quiz</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

{% comment %} Removed footer for superuser {% endcomment %}
{% if not request.user.is_superuser %}
<style>
	.footer {
	  position: fixed;
	  left: 0;
	  bottom: 0;
	  width: 100%;
	  background-color: #292b2c;
	  color: grey;
	  text-align: center;
	}
</style>
<div class="footer">
  <p>copyright @ obaidfayaz</p>
</div>
{% endif %}