<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<style>
html,
body,
.view {
  height: 100%;
  background-image: url('https://mdbootstrap.com/img/Photos/Others/img%20%2848%29.jpg');
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
h1{
    color: White;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
h4{
    color: white;
    background-color: #4e8057;
}
</style>
    <title>
        {% if title %}
            {{ title }}
        {% else %}
            title
        {% endif %}
    </title>
</head>
<body>
<center>
    {% if user.is_authenticated %}
        <h1>You Are Already Logged In Please Logout First.</h1><br>
        <a href="{% url 'logout' %}" class="btn btn-info btn-lg" style="width:50%">logout</a><br><br>
    {% else %}

    <p class="text-lg-left text-center font-weight-bold" style="width: 8rem; text-size:100px; color: White;"></p>
            <h1>
                {% if heading %}
                    {{ heading }}
                {% else %}
                    heading
                {% endif %}
            </h1>

    <div class="view" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/img%20%2848%29.jpg');">
            <br><br><br>
        <a href="{% url 'index' %}" class="btn btn-info btn-lg" style="width:30%">Home</a><br><br><br>
        <a href="{% url 'login' %}" class="text-info" style="width:15  %">Already have account?</a>
        <br><br>
        <form action='register' method="post">
            {% csrf_token %}
             <input type="text" name="username" placeholder="Enter Your Name" required><br><br>
             <input type="email" name="email" placeholder="Enter Email-ID" required><br><br>
             <input type="password" name="password1" placeholder="Password" required><br><br>
             <input type="password" name="password2" placeholder="Confirm Password" required><br><br>
             <input type="submit" class="btn btn-danger btn-lg">
         </form>
        <br>
        <div>
            <h4>
                {% if messages %}
                    {% for message in messages %}
                        <p class="alert alert-primary" role="alert">{{ message }}</p>
                    {% endfor %}
                {% endif %}
            </h4>
        </div>
    </div>
    {% endif %}

</center>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>