{% load crispy_forms_tags %}
{% load socialaccount %}
{% providers_media_js %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
        <title> {{ title }}</title>
    {% else %}
        <title>Title</title>
    {% endif %}

</head>
<body>
{% include 'navbar.html' %}
<center>
    <br>
    <small>Already have an account? <a href="{% url 'login' %}">Login</a></small>
    <br>
    <br>
<form method="post">
    {% csrf_token %}
    <div class="form-col">
      <div class="form-group col-md-3 mb-0">
        {{ form.username|as_crispy_field }}
      </div>
      <div class="form-group col-md-3 mb-0">
        {{ form.email|as_crispy_field }}
      </div>
      <div class="form-group col-md-3 mb-0">
        {{ form.password1|as_crispy_field }}
      </div>
      <div class="form-group col-md-3 mb-0">
        {{ form.password2|as_crispy_field }}
      </div>
    </div>
     <input type="submit" href="{% url 'signup' %}" class="btn btn-info btn-sm" style="opacity: 80%; width:120px;" value="Register">
</form>

</div>

</center>

</body>
</html>